.content-container {
    display: flex;
    flex-direction: column;
}

.content-container>* {
    width: 100%;
    padding: 10px;
}

.content-container input {
    padding: 3px;
}

.action-bar {
    margin-bottom: 5px;
}

.action-bar button {
    padding: 3px;
    width: 150px;
}

input {
    border: none;
    border-bottom: 1px solid black;
}

.imagediv {
    margin-top: 10px;
}

.imagediv .showonhover {
    background: red;
    padding: 20px;
    opacity: 0.9;
    color: white;
    width: 25%;
    display: block;
    text-align: center;
    cursor: pointer;
}